* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 17px;
  background-color: #eee;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #11c1ce, #01fff2);
  border-radius: 16px;
}
.navbar {
  display: flex;
  color: #fff;
  padding-left: 5%;
  height: 10vh;
  width: 100%;
  padding-right: 5%;
  justify-content: space-between;
  align-items: center;
}
.navbar h3 {
  font-weight: 300;
  letter-spacing: 1px;
  padding-left: 5px;
}
.logo {
  display: flex;
  align-items: center;
}
.logo img {
  width: 26px;
  height: auto;
}
.heading {
  color: #000;
  transition: color 0.4s ease-in;
}
.heading-nav {
  color: #5de4d9;
}
.container {
  height: 100%;
  background: #5de4d9;
}
.intro {
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateY(-10%);
  font-family: "Poppins", sans-serif;
  padding-left: 5%;
  color: #131113;
  padding-top: 5%;
}
.intro h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  z-index: -1;
  text-transform: uppercase;
}
.intro p {
  font-size: 24px;
  line-height: 36px;
}
.header {
  height: 100vh;
  background-image: url("../images/cricket-background.png");
  background-repeat: no-repeat;
  background-position: 90%;
}
main {
  margin-top: 100px;
  height: 200vh;
  background-image: url("../images/Background-random.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  opacity: 1;
}
.isl,
.ipl,
.pkl {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.content {
  width: 70%;
  margin: 20px;
  position: relative;
  padding: 20px;
  color: black;
}
.content h2 {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
}
.image {
  width: 30%;
}
.image img {
  width: 100%;
  height: auto;
  align-self: center;
  margin-bottom: 15%;
}
.ipl .image img {
  margin-left: 15%;
  width: 70%;
}
.button {
  display: block;
  background: #141113;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
  border-radius: 30px;
  text-align: center;
  width: 160px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 45px;
  text-decoration: none;
  text-align: center;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #7bd2c2;
  margin: 20px auto;
}
.burger line {
  stroke: black;
}
.burger-open line {
  stroke: white;
}
.links {
  position: absolute;
  background-color: #141113;
  width: 100%;
  height: 40vh;
  top: 0px;
  left: 0px;
  transform: translateY(-100%);
  display: grid;
  width: 100%;
  grid-template-columns: 5% 10% 10% 10% 10% 10% 10% 10% 10% 10% 5%;
  justify-items: center;
  align-items: center;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  z-index: 1;
}
.toggle {
  transform: translateY(0);
  opacity: 1;
}
.home-link {
  grid-column: 2/3;
}
.isl-link {
  grid-column: 4/5;
}
.ipl-link {
  grid-column: 6/7;
}
.pkl-link {
  grid-column: 8/9;
}
.about-link {
  grid-column: 10/11;
}
.links div {
  opacity: 0;
}
.links a {
  text-decoration: none;
  font-size: 24px;
  color: #5de4d9;
}
.toggle a {
  opacity: 1;
}
.links a:hover {
  opacity: 0.9;
  text-decoration: underline;
}
.navbar h3,
.menu {
  z-index: 2;
}
.menu {
  cursor: pointer;
}
.footer {
  background-color: #5de4d9;
  padding: 10px;
  text-align: right;
}
.footer a {
  color: black;
}
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
@media (max-width: 1300px) {
  .intro h1 {
    font-size: 32px;
  }
  .intro p {
    font-size: 18px;
  }
  .header {
    background-position: 100%;
  }
  .content {
    width: 60%;
  }
  .image {
    width: 40%;
  }
  main {
    background-image: none;
    background-position: left;
    background-size: contain;
  }
}
@media (max-width: 900px) {
  .header {
    background-size: contain;
  }
  .intro p {
    font-size: 17px;
    line-height: 26px;
  }
  .button {
    border-radius: 25px;
    text-align: center;
    width: 100px;
    font-size: 16px;
    line-height: 40px;
    padding-right: 3px;
    padding-bottom: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-top: 10px;
  }
  .isl,
  .ipl,
  .pkl {
    flex-direction: column-reverse;
  }
  .content {
    width: 100%;
    padding-right: 7%;
    padding-left: 7%;
  }
  .content p {
    font-size: 16px;
  }
  .image {
    width: 50%;
  }
  .isl .button,
  .ipl .button,
  .pkl .button {
    font-size: 16px;
    width: 120px;
  }
  .links a {
    font-size: 22px;
  }
}
@media (max-width: 768px) {
  .header {
    background: none;
    height: 100%;
  }
  .intro {
    width: 100%;
    height: 45%;
    padding-right: 5%;
    justify-content: flex-start;
  }
  .intro h1 {
    font-size: 30px;
  }
  .intro p {
    font-size: 18px;
    line-height: 28px;
  }
  .content h2 {
    font-size: 30px;
  }
  .mobile-back {
    width: 100%;
    height: 45%;
    background-color: #fff;
    margin-bottom: 5%;
  }
  .batsman {
    height: 90%;
    width: 100%;
    background: url("../images/batsman.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .back {
    height: 10%;
    width: 100%;
    margin: 0px;
    background-color: #5de4d9;
  }
  .isl,
  .ipl,
  .pkl {
    flex-direction: column-reverse;
  }
  .content {
    width: 100%;
    padding-right: 7%;
    padding-left: 7%;
  }
  .content p {
    font-size: 17px;
  }
  .image {
    width: 70%;
  }
  .isl .button,
  .ipl .button,
  .pkl .button {
    font-size: 14px;
    width: 100px;
    padding: 3px;
  }
  .footer {
    text-align: center;
  }
  .footer p {
    font-size: 14px;
  }
}
@media (max-width: 550px) {
  .header {
    height: 100%;
  }
  .intro {
    height: 60%;
    justify-content: center;
  }
  .mobile-back {
    height: 40%;
  }
  .intro h1 {
    font-size: 25px;
  }
  .intro p {
    font-size: 16px;
    line-height: 24px;
  }
  .content h2 {
    font-size: 23px;
    text-align: center;
  }
  .content p {
    font-size: 14px;
  }
  svg {
    width: 35px;
    height: 50px;
  }
  .image {
    width: 80%;
  }
  .links a {
    font-size: 16px;
  }
  .ipl .image {
    width: 60%;
  }
  .footer p {
    font-size: 12px;
  }
}
@media (max-width: 320px) {
  .intro {
    margin-top: 70px;
  }
  #main {
    padding-top: 100px;
  }
  .content h2 {
    font-size: 20px;
    text-align: center;
  }
  .content p {
    font-size: 13px;
  }
  .button,
  .isl .button,
  .ipl .button,
  .pkl .button {
    width: 80px;
    font-size: 12px;
    padding: 1px;
    line-height: 30px;
  }
  .footer p {
    font-size: 10px;
  }
}
